In [1]:
print("this is hte first notebook")

this is hte first notebook

In [3]:
num = 100
#print(num)

name = "rahul"

100

In [14]:
list_of_rollnos = [33,44,55,66,77,88]

rollnos = list((10,23,55,66))

In [16]:
type(rollnos)

list

In [6]:
list_of_rollnos[-1]

88

In [7]:
list_of_rollnos[2:5]

[55, 66, 77]

In [8]:
# lsit is mutable 

list_of_rollnos[0] =90

In [19]:
list_of_rollnos

[33, 44, 55, 66, 77, 88, 22]

In [17]:
len(list_of_rollnos)

6

In [18]:
list_of_rollnos.append(22)

In [20]:
num = 100

In [21]:
type(num)

int

In [28]:
tuple_example = (10, 19, 9 ,4, 5, 5, 6)

In [24]:
tuple_example[2]

TypeError: 'tuple' object does not support item assignment

In [25]:
list_example = [10, "some string", True, 10.89]

In [26]:
list_example

[10, 'some string', True, 10.89]

In [27]:
tuple_example.append(11)

AttributeError: 'tuple' object has no attribute 'append'

In [29]:
tuple_example

(10, 19, 9, 4, 5, 5, 6)

In [30]:
set_example = {2,3,4,5,6,7,7}

In [31]:
set_example

{2, 3, 4, 5, 6, 7}

In [35]:
set_1 ={5,9,0,1}
set_2 = {5,6,7,8}

#set_intersection = set_1.intersection(set_2)

set_intersection = set_1 & set_2

In [38]:
#set_union = set_1.union(set_2)

set_union = set_1 | set_2

In [39]:
set_union

{0, 1, 5, 6, 7, 8, 9}

In [40]:
set_2 - set_1

{6, 7, 8}

In [41]:
set_1 - set_2

{0, 1, 9}

In [43]:
for i in range(10):
    print(i)
    print("something")

0
something
1
something
2
something
3
something
4
something
5
something
6
something
7
something
8
something
9
something

In [44]:
for  element in list_example:
    print(element)

10
some string
True
10.89

In [45]:
list_of_rollnos

[33, 44, 55, 66, 77, 88, 22]

In [48]:
for i in range(len(list_of_rollnos)):
    #print("the elemnet at index", i ,"is", list_of_rollnos[i])
    print(f"the elemenet at index {i} is {list_of_rollnos[i]}")

the elemenet at index 0 is 33
the elemenet at index 1 is 44
the elemenet at index 2 is 55
the elemenet at index 3 is 66
the elemenet at index 4 is 77
the elemenet at index 5 is 88
the elemenet at index 6 is 22

In [50]:
x =9
y =10
while x<y:
    print("something inside while loop")
    x = x+1

something inside while loop

In [54]:
age = int(input("please enter your age: "))
reward =0
if age < 10:
    reward = 100
    print("your reward money is Rs ", reward)
elif age >15 and age <20:
    reward = 50
    print("your reward money is Rs ", reward)
else:
    print("your reward is Rs ", reward)

your reward money is Rs  50

In [55]:
x = 1

while x <10:
    print("you are inside while loop and value of x is ", x)
    x+=1

you are inside while loop and value of x is  1
you are inside while loop and value of x is  2
you are inside while loop and value of x is  3
you are inside while loop and value of x is  4
you are inside while loop and value of x is  5
you are inside while loop and value of x is  6
you are inside while loop and value of x is  7
you are inside while loop and value of x is  8
you are inside while loop and value of x is  9

In [56]:

x =1
while True:
    if x<10:
        print("x is less than 10")
        x+=1
    else:
        break

x is less than 10
x is less than 10
x is less than 10
x is less than 10
x is less than 10
x is less than 10
x is less than 10
x is less than 10
x is less than 10

In [ ]:
list_1 = [10,100,19]

In [57]:
dict_example = {"name":"arun","rollno": 19, "marks":100 }

In [58]:
dict_example['marks']

100

In [59]:
dict_example.keys()

dict_keys(['name', 'rollno', 'marks'])

In [60]:
dict_example.values()

dict_values(['arun', 19, 100])

In [61]:
dict_example.items()

dict_items([('name', 'arun'), ('rollno', 19), ('marks', 100)])

In [1]:
list_0 =['name', 'rollno', 'marks']
list_1 = ["arun", 19, 100]

In [2]:
lists_combined = list(zip(list_0, list_1))

In [3]:
dict_using_lists = dict(lists_combined)

In [8]:
dict_using_lists

{'name': 'Arun', 'rollno': 19, 'marks': 100, 'address': 'jammu'}

In [67]:
dict_using_lists['rollno']

19

In [5]:
dict_using_lists['name'] = 'Arun'

In [7]:
dict_using_lists['address'] = 'jammu'

In [9]:
list_nums = [1,2,3,4,5,6]
list_sqrs = []
for item in list_nums:
    list_sqrs.append(item*item)

In [10]:
list_sqrs

[1, 4, 9, 16, 25, 36]

In [11]:
list_nums = [1,2,3,4,5,6]
list_sqrs = []
for item in list_nums:
    if item%2==0:
        list_sqrs.append(item*item)

In [12]:
list_sqrs

[4, 16, 36]

In [13]:
list_nums = [1,2,3,4,5,6]

list_sqrs = [element*element for element in list_nums if element%2==0]

In [14]:
list_sqrs

[4, 16, 36]

In [21]:
dict_students = {23:"Arun", 24: 'RAshid', 25:'tarun', 26:'Akash' }

In [22]:
dict_students

{23: 'Arun', 24: 'RAshid', 25: 'tarun', 26: 'Akash'}

In [23]:
dict_students[26]

'Akash'

In [24]:
dict_students_reversed= dict()
for k, v in dict_students.items():
    dict_students_reversed[v] = k

In [25]:
dict_students_reversed

{'Arun': 23, 'RAshid': 24, 'tarun': 25, 'Akash': 26}

In [26]:
dict_students_reversed['Akash']

26

In [29]:
dict_students_reversed = {v[0:2]:k for k, v in dict_students.items()}

In [30]:
dict_students_reversed

{'Ar': 23, 'RA': 24, 'ta': 25, 'Ak': 26}

In [33]:
def some_function():
    print("you have succesfully called me!")
    x = 10
    y = 20
    print("sum of x and  y is ", x+y)

In [34]:
some_function()

you have succesfully called me!
sum of x and  y is  30

In [36]:
def some_other_function(x ,y):
    return 3*2*x+y

In [39]:
z = some_other_function(10,20)

In [43]:
def summation(*values):
    summ =0
    for item in values:
        summ+=item
    return summ

In [45]:
summation(10,20,30,40,50,60,70)

280

In [55]:
# kwargs
def any_function(**values):
    for k, v in values.items():
        #print(k, v)
        print(f"your {k} is {v} ")

In [56]:
any_function(name="arun", rollno = 30)

your name is arun
your rollno is 30

In [ ]:
#