In [1]:
tuple_example = (1,2,3,4)

In [5]:
tuple_example[0] = 111

TypeError: 'tuple' object does not support item assignment

In [6]:
other_tuple  = (4,5,6,7)
#other_tuple =tuple([4,5,6,7])

tuple_example + other_tuple

(1, 2, 3, 4, 4, 5, 6, 7)

In [8]:
tuple_example.append(1)

AttributeError: 'tuple' object has no attribute 'append'

In [16]:
empty_tuple =()


set_example2 = {1,2,3,4,4,5,5,6}
set_example = set([1,2,3,4,5,6,7,8])

In [11]:
type(set_example)

set

In [18]:
#set_example2 & set_example

set_example2.intersection(set_example)

{1, 2, 3, 4, 5, 6}

In [20]:
#set_example2 | set_example
set_example2.union(set_example)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
set_example - set_example2

{7, 8}

In [ ]:
empty_set ={}
empty_dict = dict()

In [22]:
dict_example = {"name":"taran", "age":22, "address":"jammu"}

In [23]:
type(dict_example)

dict

In [25]:
dict_example['address']

'jammu'

In [26]:
dict_example.keys()

dict_keys(['name', 'age', 'address'])

In [27]:
dict_example.values()

dict_values(['taran', 22, 'jammu'])

In [30]:
dict_example.items()

dict_items([('name', 'taran'), ('age', 22), ('address', 'jammu'), ('semester', '5th')])

In [34]:
for key, value in dict_example.items():

    print(f"the value at {key} key is {value}")

the value at name key is taran
the value at age key is 22
the value at address key is jammu
the value at semester key is 5th

In [38]:
list_1 = ["a",'b', 'c','d']

list_2 = [1,2,3,4]

list_1 +list_2

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [40]:
dict_using_lists = dict(zip(list_1,list_2))

In [ ]:
student1_name =("name":"arun")
student1_age = ("age":22)

In [ ]:
#list_of_dicts = [{"name":'arun',"age":22},{"name":"varun","age":21}]

In [46]:
list_of_lists = [["a",1],["b",2],["c",3]]

In [49]:
list_of_lists[0][1]

1

In [50]:
dict_using_lol = dict(list_of_lists)

In [51]:
dict_using_lol["a"]

1

In [45]:
list(zip(list_1,list_2))

[('a', 1), ('b', 2), ('c', 3), ('d', 4)]

In [ ]:
ci

In [43]:
dict_using_lists

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [42]:
dict_using_lists =dict()
for i in range(len(list_2)):
    dict_using_lists[list_1[i]] = list_2[i]

In [29]:
dict_example["semester"] = "5th"

In [61]:
dict_countries = {"india":'delhi', 'uk':'london', 'usa':'new york'}

In [62]:
reverse_dict = dict()
for key, value in dict_countries.items():
    reverse_dict[value] = key

In [63]:
reverse_dict

{'delhi': 'india', 'london': 'uk', 'new york': 'usa'}

In [72]:
list_numbers = [1,2,5,6,7,8]
#list comprehension
list_of_squares = [x*x for x in list_numbers if x%2!=0]

In [ ]:
for i in range(len(list_numbers)):
    list_numbers[i]

In [70]:
list_squares=[]
for item in list_numbers:
    if item%2!=0:
        list_squares.append(item*item)

In [71]:
list_squares

[1, 25, 49]

In [73]:
list_of_squares

[1, 25, 49]

In [54]:
#dict comprehesion
reverse_dict = {v:k for k, v in dict_countries.items()}

In [55]:
reverse_dict

{'delhi': 'india', 'london': 'uk', 'new york': 'usa'}

In [ ]:
some_list = list()

some_list.append()

In [ ]:
class set:
    def set(*args):

        


    def append():